.svd-news__title-container {
  max-width: 1232px;
  width: 85.5%;
  margin: 0 auto;
  padding: 40px 0 56px;
}

.svd-news__description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px;
}

.svd-news__title {
  width: 44%;
  font-family: Roboto Slab, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 30px;
}

.svd-news__keywords {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.svd-news__keywords_span {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .svd-news__title-container {
    width: 89.6%;
    padding: 24px 0 32px;
  }

  .svd-news__description {
    font-size: 14px;
    margin: 0 0 16px;
  }

  .svd-news__title {
    width: 55%;
    font-size: 30px;
    line-height: 34px;
    margin: 0 0 16px;
  }

  .svd-news__keywords {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .svd-news__title-container {
    width: 90%;
    padding: 8px 0 32px;
  }

  .svd-news__description {
    font-size: 12px;
  }

  .svd-news__title {
    width: 100%;
  }

  .svd-news__keywords {
    font-size: 18px;
  }
}
