.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  justify-content: space-evenly;
}

.card-list-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.card-list__more-btn {
  width: 288px;
  height: 64px;
  margin: 64px auto 0;
  background-color: white;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: background-color .1s linear;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.card-list__more-btn:hover {
  background-color: #E8E8E8;
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, 224px);
    grid-gap: 8px;
  }

  .card-list-container {
    padding-bottom: 40px;
  }

  .card-list__more-btn {
    margin: 22px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 10px;
  }

  .card-list-container {
    padding-bottom: 32px;
  }

  .card-list__more-btn {
    margin: 15px auto 0;
  }
}
